
{% extends 'main.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h3>Please login to check your result on portal </h3>
    <div>
        {% for message in messages %}
        <p class="disappear"><i class="uil uil-exclamation-triangle"></i> {{ message }}</p>
        {% endfor %}
        <label for="">Enter Username</label>
        <input type="text" name="username" required>
    </div>

    <div>
        <label for="">Enter Password</label>
        <input type="password" name="password" required>
    </div>


    <button type="submit">Submit</button>
    
</form>
{% endblock %}